.footer-wrapper {
  background-color: $white;

  .separator {
    height: 24px;
    background-color: #f3f7f7;
  }
}

.footer-box {
  display: flex;
  justify-content: space-between;
  padding: 75px 0 85px 0;

  & .logo-footer {
    flex: 0 0 150px;

    & a {
      display: block;

      & img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }

  & .footer-info-box {
    flex: 0 0 55%;

    & .footer-info {
      margin-bottom: 20px;

      & .title {
        color: $title-color;
        font-weight: $Bold;
        text-transform: uppercase;
      }

      & .text {
        color: #aac0c3;
        font-size: 12px;
        font-weight: $Regular;
        line-height: 20px;
      }
    }

    & .contact-box {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      & .phone-numbers {
        margin-right: 33px;

        & li {
          display: flex;
          align-items: center;
          padding-left: 10px;

          & .phone-icon {
            display: flex;
            align-items: center;
            color: $blue-color;
            font-size: 12px;
            font-weight: $Bold;
            line-height: 22px;

            &::after {
              display: block;
              content: "";
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background-color: $blue-color;
              margin-left: 3px;
            }
          }
        }

        & .phone-number-main {
          padding: 0;

          & a {
            display: flex;
            align-items: center;

            & .phone-icon strong {
              font-weight: $Bold;
              font-size: 20px;
            }

            & .number {
              color: #1f1f1f;
              font-weight: $Regular;
              font-size: 20px;
              letter-spacing: 1.34px;
              line-height: 22px;
              margin-left: 5px;
            }
          }

          &:hover {
            & a .number {
              color: $hover-color;
            }
          }
        }
      }

      & .location {
        display: flex;
        align-items: center;
        margin-right: 55px;

        & .location-icon {
          height: 30px;

          & svg {
            display: block;
            height: 100%;
            width: 40px;
            fill: $blue-color;
          }
        }

        & .location-info {
          & a {
            display: block;
            color: $title-color;
            font-size: 13px;
            line-height: 18px;
            transition: 0s;

            & span {
              display: block;
            }

            &:hover {
              color: $hover-color;
            }
          }
        }
      }
    }

    & .footer-nav {
      flex: 0 0 100%;
      display: flex;
      align-items: center;
      margin-top: 48px;

      & li {
        margin-right: 30px;

        &:last-child {
          margin-right: 0;
        }

        & a {
          color: $title-color;
          font-size: 11px;
          font-weight: $Bold;
          line-height: 22px;
          text-decoration: underline;

          &:hover {
            color: $hover-color;
          }
        }
      }
    }
  }

  & .copyright-box {
    flex: 0 0 25%;

    & form {
      position: relative;
      margin-bottom: 37px;

      & .title {
        display: block;
        color: $title-color;
        font-size: 12px;
        font-weight: $Bold;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      & input {
        border: 0;
        width: 100%;
        height: 50px;
        border-radius: 20px;
        background-color: #f3f7f7;
        border: 2px solid #f3f7f7;
        padding: 0 80px 0 16px;

        &:focus {
          outline: none;
          border: 2px solid $hover-color;
          background-color: #fff;
        }

        &::placeholder {
          color: #aac0c3;
          font-size: 14px;
          font-weight: $Regular;
          line-height: 20px;
        }
      }

      & .btn {
        width: 78px;
        height: 50px;
        border-radius: 30px;
        background-color: $blue-color;
        position: absolute;
        right: -5px;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
          display: block;
          width: 34px;
          height: 17px;
        }

        &:hover {
          background-color: #87c4cc;
        }
      }
    }

    & .payment-box {
      margin-bottom: 52px;

      & ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    & .copyright {
      color: #909090;
      font-size: 12px;
      font-weight: $Regular;
      line-height: 18px;

      & a {
        color: #909090;
        font-size: 12px;
        font-weight: $Regular;
        line-height: 18px;

        &:hover {
          color: $hover-color;
        }
      }
    }
  }
}
