/* Colors */

$white: #fff;
$white-text: #fff;
$black-color: #000;
$text-color: #626161; //==
$blue-color: #46bece;
$btn-color: #679c88; //==
$yellow-color: #fadb57;
$hover-color: #ffc400;
$red-color: #f47c53; //==
$title-color: #3c3c3c;

$cadetblue-color: #46bece;

/* Fonts */

$Futura: "Futura", sans-serif;

$Regular: 400;
$Medium: 500;
$Bold: 700;

/*title*/

// $h1: 29px;
// $h2: 26px;
// $h3: 20px;
// $h4: 17px;
// $h5: 15px;
// $h6: 14px;

/*text*/

$font-text: 13px;
